<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrinho</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
  <!-- Header -->
  <header>
    <h2>Loja C214</h2>
    <a class="bag" routerLink="home" routerLinkActive="active-class">
      <span class="material-symbols-outlined">
        home
      </span>
    </a>
  </header>
  <!-- Lista -->
  <section class="list-field">
    <table class="products-list">
      <thead>
        <th>Produto</th>
        <th>Preço</th>
        <th>Adicionar ao carrinho</th>
      </thead>
      <tbody>
        <tr>
          <td>Tênis 1</td>
          <td>R$399.90</td>
          <td>
            <button (click)="removerProduto">
              <span class="material-symbols-outlined">
                remove
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</body>
</html>

