<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <section id="entrada-dados">
    <form (ngSubmit)="entradaDados(altura, peso)" #loginForm="ngForm">
      <h3>Cálculo IMC</h3>
      <div>
        <label class="form-filed__label" for="altura">Altura</label>
        <input type="text" [(ngModel)]="altura" id="altura" name="altura" placeholder="X m" />
      </div>
      <div>
        <label class="form-filed__label" for="peso">Peso</label>
        <input type="text" [(ngModel)]="peso" id="peso" name="peso" placeholder="X kg" />
      </div>

      <div class="botao-wrapper">
        <button class="botao" type="submit">Calcular</button>
      </div>
    </form>
    <!-- <h2 #resposta1></h2> -->
  </section>

</body>
</html>
